*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}


/*@media (max-width: 575.98px) { */
   


    .contenedor_general{
        background-image: url(../images/01-Proyectos-Electricos-MyB-Tension.jpg);   
        /* background: linear-gradient(to left, #159957, #155799); */
        background-position:center;
        background-attachment: fixed;
        background-size: cover;
        position: relative;
        height: 100vmax;   
        z-index: 20;
        
        
    }

    .contenedor_general::before{
        content:"";
        background-color: rgba(57, 96, 151, 0.8); 
        
        position:absolute;
        
        z-index: -5;
        height: 100vmax;
        width: 100%;
    }
    /* Imagen de Logo */
    .secundario div div img{
        width: 120px !important; 
        z-index: 50;
        /* background-color: #0d6efd; */
    }

   



    .redes{
        
        height: 20vh;
        
    }
    /* iconos de redes  */
    .redes div a img{
        width: 32px !important;
        
    }


   .login-acsa div{ 
    
       
   }




